<h1>Candidate List</h1>

<table class= "table">
  <thead>
    <tr>
      <td>count</td>
      <td>name</td>
      <td>party</td>
      <td>age</td>
      <td>comment</td>
      <td>funtion</td>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td>
          <%= show_vote(candidate) %>
          <%= link_to "Vote!", vote_candidate_path(candidate), method:"post", class: "btn btn-danger btn-xs" %>
        </td>
        <td><%= link_to candidate.name,candidate_path(candidate) %></td>
        <td><%= show_party(candidate.party) %></td>
        <td><%= candidate.age %></td>
        <td><%= candidate.comment %></td>
        <td>
          <%= link_to "edit", edit_candidate_path(candidate), class:"btn btn-success" %>
          <%= link_to "delete", candidate_path(candidate), method:"delete", data: {confirm: "Are you sure?!"}%>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>

<%= link_to "add candidate", new_candidate_path, class: "btn btn-danger" %>
